/*
RESPONSIVE SETTINGS
*/
/* ====================== Media Sizes for Desktops ====================== */
@media only screen and (max-width: 1023px) {
    .inside #map-container {
      top: 15px;
      height: 50vh;
      width: 100%;
      position: relative;
    }
    #restaurant-container, #reviews-container {
      width: 100%;
    }
    .inside #footer {
      width: 100%;
    }
    .filter-options {
      padding: 0 10px;
    }
    options select {
      display: inline-block;
      margin: 8px auto;
      text-align: center;
    }
    label {
      text-align: center;
      display: block;
      font-size: 1.15rem;
      font-weight: 700;
      position: relative;
    }
    .filter-options h2, .filter-options select {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .filter-options h2 {
      padding-top: 10px;
      font-size: 1.4rem;
    }
    .rating {
        width: 26%;
        max-width: auto;
    }
    #footer {
      padding-top: 1rem;
    }
    }
    /* ====================== Media Sizes for Tablets --Landscape Mode-- ====================== */
    @media only screen and (max-width: 620px) {
    .filter-options {
      padding: 0 10px;
    }
    options select {
      display: inline-block;
      margin: 8px auto;
      text-align: center;
    }
    .filter-options h2, .filter-options select {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .filter-options h2 {
      padding-top: 10px;
      font-size: 1.4rem;
    }
    .rating {
        width: 33%;
        max-width: auto;
    }
    }

    /* ====================== Media Sizes Phones --Portrait Mode-- ====================== */
    @media only screen and (max-width: 435px) {
    nav h1 a {
      font-size: 1.3rem;
      font-weight: 200;
      letter-spacing: .2rem;
    }

    .rating {
      width: 45%;
    }
    #footer {
     padding: 1rem 0;
     font-size: .65rem;
    }
    }


